.title {
  color: blue;
}

.email {
  background-color: yellow;
}

.Github {
  background-color: aqua;
}

.port {
  background-color: orange;
}

.your-name {
  color: black;
}
.onee {
  background-color: bisque;
}
.titl {
  color: #7e7ec663;
}
