.box1 {
  padding: 30px;
  margin: 12px;
  border: 6px solid black;
}

.box2 {
  padding: 30px;
  margin: 12px;
  border: 6px solid black;
}

.box3 {
  padding: 30px;
  margin: 12px;
  border: 6px solid black;
}

.box4 {
  padding: 30px;
  margin: 12px;
  border: 6px solid black;
}
